/* custom css */
/* .inner {
    width: 1000px !important;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    list-style-type: none;
}

/* summary */
summary,
summary::-webkit-details-marker {
    cursor: pointer;
    list-style: none;
}

details ul,
details ol {
    list-style: none !important;
    padding-left: 2em !important;
}

details ul,
details li {
    margin: 0;
    padding-left: 1px;
}

details>summary::before {
    content: "▶️ ";
}

details[open]>summary::before {
    content: "🔽 ";
}

/* ul li */
ul,
ol {
    margin: 0;
    padding: 0;
}

li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
span {
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    margin-bottom: 8px;
}

li {
    line-height: 1.4;
    margin: 0;
    padding: 0;
    list-style: none;
}